<?php
/* {{ ansible_managed }} */
return array (
  'db' =>
  array (
    'host' => '{{ shopware5_db_host }}',
    'port' => '{{ shopware5_db_port }}',
    'username' => '{{ shopware5_db_user }}',
    'password' => '{{ shopware5_db_pass }}',
    'dbname' => '{{ shopware5_db_name }}',
  ),
  'phpSettings' =>
  array(
    'error_reporting' => '{{ shopware5_php_error_reporting }}',
    'error_display' => 'Off'
  ),
);
