# {{ ansible_managed }}
db.host={{ shopware5_db_host }}
db.name={{ shopware5_db_name }}
db.user={{ shopware5_db_user }}
db.password={{ shopware5_db_pass }}

app.path={{ shopware5_app_path }}
app.host={{ shopware5_app_host }}
