# {{ ansible_managed }}
db.host={{ shopware4_db_host }}
db.name={{ shopware4_db_name }}
db.user={{ shopware4_db_user }}
db.password={{ shopware4_db_pass }}

app.path={{ shopware4_app_path }}
app.host={{ shopware4_app_host }}
